.title{
    width: 510px;
    height: 70px;
    text-align: center;
    padding: 20px 40px;
    font-family: bold script;
    font-size: 44px;
    color: green;
    font-weight: 300;
    text-decoration: underline;
    border-bottom: 5px #cc2020 solid;
    border-left: 5px greenyellow solid;
    border-top: 5px yellow solid;
    border-right: 5px blue solid;
    font-style: italic;
    background: linear-gradient(70deg, yellow, red);
    animation: gradient 5s infinite linear;
}


@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    } 
}

.text{
    font-family: cursive;
    font-size: 30px;
    line-height: 25px;
    text-indent: 25px;
    color: bisque;
}

.link{
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: azure;
}

.llink{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: rosybrown;
    font-style: italic;
    border: 1px blue solid ;
    background:linear-gradient(35deg, green, blue)
    
}


html, body {
    height: 100%;
}

body {
	background: linear-gradient(180deg, #641e39, #98749b, #ddf810, #8f4ff4);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
 
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

.capy{
    color: aquamarine;
    margin: 10px;   
}

.input{
    text-align: center;

}

.input:focus {
    color: aquamarine;
    background-color: #6b6b83;
}

.button{
    background-color: green;
    color: wheat;
    text-decoration: none;
    padding: 1px;
}

.button:hover {
    background-color: red;
}

.button:active {
    background-color: yellow;
}
